<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ElementMasterSuite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="AutomationTests">

        <classes>

            <class name="tests.FormTest"/>

            <class name="tests.TableTest"/>

            <class name="tests.AlertTest"/>

            <class name="tests.FrameTest"/>

            <class name="tests.WidgetTest"/>

        </classes>

    </test>

</suite>